
  <!-- <label for="">What is you username</label>
  <input type="text" [(ngModel)]="username">
  <button [disabled]="!username" (click)="reset()">select</button>
  <br>

<p>your username is {{username}} </p>
 -->

<!--
 <p [hidden]="hide">Secret passwrod="chopsticks"</p>
 <button (click)="display()">Display Details</button>



 @for(item of buttonClicks; track item.id ){
     <div class="con" [ngStyle]="{backgroundColor: getColor(), color: getColor()}">
     {{item}}
    </div>
    } -->




    <h1>balh</h1>
